// Header //
$header-log-width: 252px;
$header-log-height: 51.5px;
$header-log-margin-left: 140px;

// Images width // 
$img-rectangle-width: 969px;
$img-square-width: 530px;

// Images height // 
$img-rectangle1-height: 394px;
$img-rectangle2-height: 432px;
$img-square-height: 524px;

// Font sizes //
$font-size-h2: 70px;
$font-size-h3: 50px;
$font-size-p: 18px;
$font-size-btn: 24px;

// Font weights //
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font colors //
$font-color-white: white;
$font-color-granite-gray: #686963;
$font-color-red: #E56353;

// Background colors //
$bg-color-red: #E56353;
$bg-color-snow: #FAFAFA;
$bg-color-granite-gray: #686963;
$bg-color-taupe-gray: #91918D;
$bg-color-gray: #BABAB8;

// Width global //
$width-global: 100%;

// Button size // 
$width-button: 278px;
$height-button: 50px;

// Footer // 
$footer-log-width: 172px;
$footer-log-height: 86px;